.row {
    flex-wrap: flex;
    flex: row;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
    margin: 0 0 0 100%;
}

.text {
    margin: 25px;
    color:black;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
}

.col {
    flex: 1;
    text-align: center;
}

.card {
    margin: 25px;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    flex-wrap: flex;
    flex: row;
  
}